*{margin: 0; padding: 0; border: 0;}

#smove{
  background-color: rgb(108, 196, 136);
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}


div{
  display: block;
}

#smove #center{
  position: relative;
  margin: auto auto;
  height: 600px;
  width: 600px;
}